<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>ID: <%= @inventory.id %></h2>
    </div>
    <div class="card-body">
      <%= render "form", inventory: @inventory %>
    </div>
  </div>

  <% if @inventory.images.attached? %>
    <% @inventory.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [400, 400]) %>
    <% end %>
  <% end %>
</div>
